* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}


h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

.input {
    background-color: #fff;
    border: none;
    outline: none;
    color: #666;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
}

.submit {
    background-color: #fff;
    border: none;
    color: #666;
    padding: 5px;
    font-size: 20px; 
    position: absolute;
    right: 41px;
    border-radius: 5px;
    
}

.form {
    width: 50%;
    padding: 25px;
}



.banner img {
    width: 100%;
}

main {
    margin: 0 auto;
    width: 90%;
}


footer {
    text-align: center;
    padding: 60px;
}

.copyright {
    text-align: left;
}

.footer-tittle {
    font-size: 18px;   
}

footer i {
    font-size: 2em;
    padding: 10px;
    color: #073dae;
}












