* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

#page-header {
    background-color: #EAC926;
    padding: 16px;
}

#page-header div.logo {
    width: 50%;
}

.titulos {
    font-size: 24px;
}

.sub-header {
    text-align: center;
    padding: 5px;
}

.input {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

.submit {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

nav a {
    text-decoration: none;
    color: black;
    padding-left: 0;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

main {
    margin: 0 auto;
    width: 90%;
}


.price {font-size: 18px;}

.descuento {font-size: 16px; color:#39b54a}

.description {font-size: 16px;}


#menu-button {
    background-color: #073dae;
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    padding: 8px;
}

#burger-menu {
    text-align: center;
}

.banner-img {
    width: 100%;
    display: block;
}

.product {
    width: 100%;
    background-color: #fff;
    margin: 10px;
}

.product i {
    color: #39b54a;
}

footer {
    text-align: center;
}

.copyright {
    text-align: left;
}

.footer-tittle {
    font-size: 18px;   
}

footer i {
    font-size: 2em;
    padding: 10px;
    color: #073dae;
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {
    
}